<html>
    <head>
        <title> Crop Forecasting </title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
					<li><a href="/home/{{user}}"> Home </a></li>
                    <li><a href="/dashboard/{{user}}"> Dashboard </a></li>
                    <li><a href="/crop_mapping/{{user}}"> Crop Mapping </a></li>
                    <li><a href="/about_us/{{user}}"> About </a></li>
                    <li><a href="/contact/{{user}}"> Contact </a></li>
                    <li><a href="/terms_of_use/{{user}}"> Terms of Use </a></li>
                    <li><a href="/accounts/{{user}}"> Accounts </a></li>
                </ul>
            </nav>
        </header>
		<div>
			<div class="first">
				<img src="/static/Dorado.jpg">
				<h3> Asmadi S. Dorado </h3>
				<p> CPE41S1 - Group 17 <p>
			</div>
			<div class="second">
				<img src="/static/Gerarman.jpeg">
				<h3> Erika Marie G. Gerarman </h3>
				<p> CPE41S1 - Group 17 <p>
			</div>
			<div class="third">
				<img src="/static/Quebral.jpg">
				<h3> John Brian F. Quebral </h3>
				<p> CPE41S1 - Group 17 <p>
			</div>
			<div class="fourth">
				<img src="/static/Valenzuela.jpg">
				<h3> Daryl Neil L. Valenzuela </h3>
				<p> CPE41S1 - Group 17 <p>
			</div>
		</div>
    </body>
</html>