body {
	padding: 30px;  
	background-size: cover;
	background-repeat: no-repeat; 
	font-family: sans-serif;
	background-color: darkseagreen;
	background-image: url('bg_img.jpg');  
}

button {   
    background-color: #4CAF50;   
    width: 100%;  
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: medium;
    padding: 15px;   
    margin: 10px 0px;
    border: none;   
    cursor: pointer;
}

form {
    width: 100%;
    border: 3px solid #f1f1f1;   
}

input[type=text], input[type=password]{   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}

button:hover {   
    opacity: 0.7;   
}

div.container {   
    padding: 10px;
    background-color: rgba(173,216,230,0.5);  
}

div.reg{
    position: absolute;
    right: -20px;
}
