<html>
    <head>
        <title> Crop Forecasting </title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
					<li><a href="/"> Home </a></li>
                    <li><a href="/dashboard"> Dashboard </a></li>
                    <li><a href="/crop_mapping"> Crop Mapping </a></li>
                    <li><a href="/about_us"> About </a></li>
                    <li><a href="/contact"> Contact </a></li>
                    <li><a href="/terms_of_use"> Terms of Use </a></li>
                    <li><a href="/join_us"> Join Us</a></li>
                </ul>
            </nav>
        </header>
        <h1>
            Design of Forecasting System of Best-fitted Crops
            based on Agricultural Soil Health using Machine Learning
        </h1>
        <p>
            A system that can determine the best-fitted crops that accepts
            soil health parameters on a single plot of land using a 
            forecasting model.
        </p>
    </body>
</html>