<html>
    <head>
        <title>Crop Forecasting</title>
        <link rel="stylesheet" href="/static/login.css"/>
    </head>
    <body>
        <form action="/login" method="POST">
            <div class="container">
                <center><h1 style=>Login</h1></center>
                <label>Username:</label>
                <input type="text" name="username" required>
                <label>Password:</label>
                <input type="password" name="password" required>
                <center></a><button type="submit">Login</button></center><br>
                <right>No account yet? <a href="/register">Sign up now!</a></right>
            </div>
        </form>
    </body>
</html>
